<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://randomfailurefunctionapp20250618195907.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f127961f-ad13-4a75-855b-6b4db0e7f7b4/resourcegroups/RandomFailureFunctionApp20250618195907ResourceGroup/providers/Microsoft.Web/sites/RandomFailureFunctionApp20250618195907</ResourceId>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://randomfailurefunctionapp20250618195907.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>